.destinationLanding {
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

.destinationBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../../../public/assets/destination/background-destination-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.8;
}

.globalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0 100px 0 165px;
    margin-top: 110px;
}

.titleContainer {
    display: flex;
    align-items: center;
    height: fit-content;
    gap: 20px;
    color: #FFFFFF;
    letter-spacing: 5px;
    width: 100%;
}

.number {
    font-size: 26px;
    font-weight: 700;
    color: #ffffff46;
}

.title {
    font-size: 26px;
    font-weight: 400;
}

.destinationContent {
    text-align: left;
}

.destinationsPlanet {
    height: 35px;
    cursor: pointer;
    color: #D0D6F9;
}

.destinationsPlanet:hover {
    border-bottom: 3px solid rgba(255, 255, 255, 0.432);
}

.destinationsPlanetActive {
    height: 35px;
    cursor: pointer;
    border-bottom: 3px solid #FFFFFF;
}

.destinations {
    display: flex;
    gap: 35px;
    font-size: 16px;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    margin-bottom: 30px;
}

.destinationImages {
    width: 100px;
    height: 100px;
}

.planetContainer {
    display: flex;
    margin-top: 80px;
    text-align: left;
    width: 100%;
}

.planetContent {
    display: flex;
    flex-direction: column;
    width: 470px
}

.planetName {
    color: #FFFFFF;
    font-size: 100px;
    font-family: 'Bellefair';
    font-weight: 400;
    text-transform: uppercase;
}

.planetDescription {
    font-family: 'Barlow';
    color: #D0D6F9;
    text-align: left;
    font-weight: 300;
    line-height: 33px;
    font-size: 19px;
}

.planetPicture {
    width: 50%;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.planetPicture img {
    max-width: 100%;
}

.planetSeparation {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.205);
    margin-top: 40px;
}

.travelContainer {
    display: flex;
    flex-direction: row;
    gap: 80px;
    width: fit-content;
    margin-top: 25px;
}

.travelTitle {
    color: #D0D6F9;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 2.35px;
}

.travelText {
    color: #FFFFFF;
    font-family: 'Bellefair';
    font-weight: 200;
    font-size: 28px;
    margin-top: 10px;
    text-transform: uppercase;
}


/* ---------- MEDIA QUERIES ---------- */

@media screen and (max-width: 1024px) {
    .globalContainer {
        padding: 0 50px 0 165px;
    }
    .titleContainer {
        gap: 15px;
        letter-spacing: 4px;
    }
    .title {
        font-size: 23px;
    }
    .number {
        font-size: 23px;
    }

    .destinations {
        display: flex;
        gap: 30px;
        font-size: 14px;
        letter-spacing: 2.7px;
        margin-bottom: 20px;
    }
    .destinationsPlanet {
        height: 30px
    }
    .destinationsPlanetActive {
        height: 30px
    }
    .planetName {
        font-size: 85px;
    }
    .planetDescription {
        line-height: 28px;
        font-size: 17px;
    }
    .planetSeparation {
        margin-top: 30px;
    }
    .travelContainer {
        gap: 50px;
        margin-top: 15px;
    }
    .travelTitle {
        font-size: 14px;
        letter-spacing: 2.35px;
    }
    .travelText {
        font-size: 22px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 768px) {
    .destinationBackground {
        background-image: url(../../../public/assets/destination/background-destination-tablet.jpg);
    }
    .globalContainer {
        padding: 0 40px 0 40px;
        margin-top: 40px;
    }
    .planetContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }
    .title {
        font-size: 20px;
    }
    .number {
        font-size: 20px;
    }
    .planetPicture {
        width: 45%;
    }
    .planetContent {
        align-items: center;
        margin-top: 50px;
        width: 100%;
        padding: 0 40px;
    }
    .destinations {
        margin-bottom: 30px;
    }
    .planetName {
        font-size: 75px;
    }
    .planetDescription {
        text-align: center;
        font-size: 16px;
        margin-top: 10px;
    }
    .travelContainer {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        width: 100%;
    }
    .distanceContent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .travelContent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .travelTitle {
        font-size: 14px;
        letter-spacing: 2.35px;
    }
    .travelText {
        font-size: 25px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 768px) {
    .destinationBackground {
        background-image: url(../../../public/assets/destination/background-destination-mobile.jpg);
    }
    .globalContainer {
        padding: 0;
        margin-top: 0;
    }
    .titleContainer {
        justify-content: center;
    }
    .planetContainer {
        margin-top: 10px;
    }
    .title {
        font-size: 16px;
        font-weight: 200;
    }
    .number {
        font-size: 16px;
        font-weight: 600;
    }
    .planetPicture {
        width: 50%;
    }
    .planetContent {
        margin-top: 20px;
        padding: 0 20px;
    }
    .destinationsPlanet {
        height: 27px
    }
    .destinationsPlanetActive {
        height: 27px
    }
    .destinations {
        margin-bottom: 20px;
    }
    .planetName {
        font-size: 63px;
    }
    .planetDescription {
        font-size: 15px;
        margin-top: 0;
        line-height: 27px;
    }
    .travelContainer {
        flex-direction: column;
        margin-top: 30px;
        width: 100%;
        gap: 30px;
    }
    .planetSeparation {
        margin-top: 20px;
    }
    .distanceContent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .travelContent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .travelText {
        font-size: 28px;
    }
}