.technologyLanding {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.technologyBackground {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url(../../../public/assets/technology/background-technology-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.technologyGlobalContainer {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    padding: 0 0 0 165px;
}

.technologyWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
}

.technologyContainer {
    display: flex;
    flex-direction: row;
    gap: 80px;
    height: auto;
    width: 100%;
}

.technologyButtonContainer {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.technologyRadioButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #ffffff4d;
    color: #ffffff;
    font-size: 40px;
    font-family: 'Bellefair';
    cursor: pointer;
}

.technologyRadioButton:hover {
    border: 1px solid #FFFFFF;
}

.technologyRadioButtonActive {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #ffffff4d;
    color: #0B0D17;
    font-size: 40px;
    font-family: 'Bellefair';
}

.technologyInformationContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    padding-right: 20px;
}

.technologyInformationSubtitle {
    color: #D0D6F9;
    font-size: 19px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.technologyInformationTitle {
    color: #FFFFFF;
    font-family: 'Bellefair';
    text-transform: uppercase;
    font-weight: 400;
    font-size: 55px;
    margin-bottom: 25px;
}

.technologyInformationDescription {
    color: #D0D6F9;
    font-size: 23px;
    font-weight: 300;
    line-height: 35px;
    width: 90%;
}

.technologyPicture {
    display: flex;
    justify-content: flex-end;
    width: 70%;
    height: auto;
    margin-top: 50px;
}

.technologyPicture img {
    width: 100%;
    height: auto;
    object-fit: contain;
}


/* ---------- MEDIA QUERIES ---------- */

@media screen and (max-width: 1024px) {
    .technologyGlobalContainer {
        padding: 0;
    }
    .technologyGlobalContainer .titleContainer {
        padding-left: 60px;
    }
    .technologyWrapper {
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
        margin-top: 60px;
    }
    .technologyContainer {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .technologyButtonContainer {
        flex-direction: row;
        padding-top: 50px;
        gap: 20px;
    }
    .technologyRadioButton {
        width: 60px;
        height: 60px;
        font-size: 30px;
    }
    .technologyRadioButtonActive {
        width: 60px;
        height: 60px;
        font-size: 30px;
    }
    .technologyInformationContainer {
        align-items: center;
        width: 100%;
        padding: 50px;
    }
    .technologyInformationTitle {
        font-size: 40px;
        margin-bottom: 10px;
    }
    .technologyInformationDescription {
        font-size: 20px;
        line-height: 25px;
    }
    .technologyInformationDescription {
        text-align: center;
        margin-top: 20px;
        width: 80%;
        line-height: 30px;
        font-weight: 200;
    }
    .technologyPicture {
        width: 100%;
        margin-top: 0;
    }
    .technologyPicture img{
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center;
    }
}

@media screen and (max-width: 768px) {
    .technologyBackground {
        background: url(../../../public/assets/technology/background-technology-tablet.jpg);
    }
    .technologyGlobalContainer .titleContainer {
        padding-left: 45px;
    }
    .technologyContainer {
        flex-direction: column;
        align-items: center;
    }
    .technologyInformationDescription {
        width: 420px;
    }
}

@media screen and (max-width: 480px) {
    .technologyBackground {
        background: url(../../../public/assets/technology/background-technology-mobile.jpg);
    }
    .technologyGlobalContainer {
        margin: 0;
    }
    .technologyWrapper {
        justify-content: flex-end;
        margin-top: 40px;
    }
    .technologyGlobalContainer .titleContainer {
        padding-left: 0;
    }
    .technologyPicture img{
        height: 200px;
    }
    .technologyRadioButton {
        width: 50px;
        height: 50px;
        font-size: 21px;
    }
    .technologyRadioButtonActive {
        width: 50px;
        height: 50px;
        font-size: 21px;
    }
    .technologyInformationContainer {
        align-items: center;
        width: 100%;
        padding: 30px;
    }
    .technologyInformationSubtitle {
        margin-bottom: 10px;
    }
    .technologyInformationTitle {
        font-size: 30px;
    }
    .technologyInformationDescription {
        width: 100%;
        line-height: 30px;
    }
}