.navbar {
    position: relative;
    top: 37px;
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 110px;
}

.logo {
    margin-left: 55px;
}
.burgerIcon {
    display: none;
}
.iconClose {
    display: none;
}

.navbarContent {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}

.navbarLine {
    width: 100%;
    background: #FFFFFF;
    height: 1px; 
    margin-left: 60px;
    opacity: 0.2;
 }

.navbarLinks a{
    color: #FFFFFF;
    text-decoration: none;
    letter-spacing: 4px;
    cursor: pointer;
    padding: 0 18px;
}

.navbarLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    gap: 15px;
    padding: 0 80px;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.041), rgba(255, 255, 255, 0.062));
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
}

.links {
    display: flex;
    gap: 10px;
}

.links:hover {
    border-bottom: 3px solid rgba(255, 255, 255, 0.432);
    height: 97px;
    line-height: 97px;
}

.linksActive {
    display: flex;
    font-size: 16px;
    gap: 10px;
    border-bottom: #FFFFFF 3px solid;
    line-height: 97px;
    height: 97px;
}

.navbarNumbers {
    font-weight: 500;
}

.navbarTitle {
    font-weight: 300;
}

@media screen and (min-width: 2300px) {
    .links:hover {
        height: 95px;
    }
    .linksActive {
        height: 95px;
    }
}

@media screen and (max-width: 1024px) {
    .navbarLinks {
        font-size: 14px;
        gap: 0;
        padding: 0 30px;
    }
    .linksActive {
        display: flex;
        font-size: 14px;
        gap: 10px;
        border-bottom: #FFFFFF 3px solid;
        line-height: 97px;
        height: 97px;
    }
}
@media screen and (max-width: 768px) {
    .navbar {
        top: 0;
    }
    .navbarContent {
        width: 100%;
        justify-content: flex-end;
    }
    .logo {
        margin-left: 35px;
    }
    .navbarLinks a {
        padding: 0;
    }
    .navbarLinks {
        gap: 25px;
        padding: 0;
        width: 390px
    }
    .linksActive {
        letter-spacing: 3px;
    }
    .links {
        letter-spacing: 3px;
    }
    .navbarLine {
        display: none;
    }
    .navbarNumbers {
        display: none;
    }
}
@media screen and (max-width: 480px) {
    .navbarContent {
        position: absolute;
        height: 100vh;
        width: 70vw;
        top: 0;
        right: 0;
        z-index: 99;
        right: -330px;
        /* display: none; */
        transition: all 0.3s ease-out;
    }
    .logo {
        margin-left: 35px;
    }
    .burgerIcon {
        display: block;
        position: absolute;
        right: 30px;
        cursor: pointer;
    }

    .burgerIcon.active + .navbarContent {
        display: flex;
        right: 0;
    }
    .navbarLinks a {
        padding: 0;
    }
    .navbarLinks {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 100px;
        padding-left: 50px;
        font-size: 20px;
        gap: 40px;
    }
    .linksActive {
        letter-spacing: 3px;
        font-size: 20px;
        line-height: normal;
        height: fit-content;
        border-bottom: none;
    }
    .links {
        letter-spacing: 3px;
    }
    .links:hover {
        border-bottom: none;
        height: fit-content;
        line-height: normal;
    }
    .navbarLine {
        display: none;
    }
    .navbarNumbers {
        display: flex;
    }
    .iconClose {
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
    }
    .navbarContent.close {
        right: -330px;
    }
}
